<a href="https://colab.research.google.com/github/derewor/UNICORN-project/blob/main/Unicorn_Project_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **🦄** Connecting to Unicorn Database With Python

## First Step : Importing External Liabriries

In [ ]:
#!pip install mysqlclient

* https://www.sqlalchemy.org/

In [ ]:
import pandas as pd
import sqlalchemy as sa

## Second Step Connecting
* Connecting with SQLAlchemy always works in two steps:

1.   Create an engine
2.   Make a connection

In [ ]:
unicorn_data_link = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn?sslmode=require"

In [ ]:
engine = sa.create_engine(unicorn_data_link)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

# **Unicorn Provided Database Schema**

![Schema.png]()


#**Query1: How many customers do we have in the data?**

---

In [ ]:
query = """ SELECT COUNT(customer_id) AS total_customers
            FROM customers
 """
pd.read_sql(sa.text(query),connection)

   total_customers
0              795



#**Query2: What was the city with the most profit for the company in 2015?**

---

In [ ]:
query = """ SELECT o.shipping_city,
 			 SUM(od.order_profits) AS total_profit,
       ROUND(SUM(od.order_profit_ratio)::NUMERIC,2) AS profit_ratio
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
WHERE EXTRACT (YEAR FROM o.order_date)= 2015
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1
 """
pd.read_sql(sa.text(query),connection)

   shipping_city  total_profit  profit_ratio
0  New York City       14753.0         47.28


#**Query 3: In 2015, what was the most profitable city's profit?**

---

In [ ]:
query = """ SELECT
 			 SUM(od.order_profits) AS highest_profit,
       ROUND(SUM(od.order_profit_ratio)::NUMERIC,2) AS profit_ratio
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
WHERE EXTRACT (YEAR FROM o.order_date)= 2015
GROUP BY o.shipping_city
ORDER BY 2 DESC
LIMIT 1 """
pd.read_sql(sa.text(query),connection)

   highest_profit  profit_ratio
0         14753.0         47.28

#**Query 4: How many different cities do we have in the data?**

---

In [ ]:
query = """ SELECT
COUNT (DISTINCT shipping_city) AS all_cities
FROM orders
 """
pd.read_sql(sa.text(query),connection)

   all_cities
0         531

#**Query 5: Show the total spent by customers from low to high.**

---

In [ ]:
query = """ SELECT o.customer_id,
			      SUM(od.order_sales)AS total_spent_by_customers
FROM order_details od
JOIN orders o ON o.order_id = od.order_id
GROUP BY o.customer_id
ORDER BY total_spent_by_customers ASC
 """
pd.read_sql(sa.text(query),connection)

     customer_id  total_spent_by_customers
0            456                       5.0
1            738                       5.0
2            546                      16.0
3            124                      17.0
4            657                      22.0
..           ...                       ...
788          758                   14596.0
789          623                   15117.0
790          388                   16744.0
791          731                   19050.0
792          687                   25042.0

[793 rows x 2 columns]

#Query 6: What is the most profitable city in the State of Tennessee?

In [ ]:
query = """ SELECT o.shipping_city
FROM orders o
JOIN order_details od ON o.order_id = od.order_id
WHERE o.shipping_state LIKE 'Tennessee'
GROUP BY o.shipping_city
ORDER BY SUM(od.order_profits) DESC
LIMIT 1"""
pd.read_sql(sa.text(query),connection)

  shipping_city
0       Lebanon

#Quer7: What’s the average annual profit for that city across all years?

In [ ]:
query = """ SELECT AVG(od.order_profits):: numeric (10,2) AS average_profits
FROM order_details od

JOIN orders o ON o.order_id = od.order_id
WHERE o.shipping_city = (SELECT o.shipping_city
													FROM orders o
													JOIN order_details od ON o.order_id = od.order_id
                          WHERE o.shipping_state LIKE 'Tennessee'
                          GROUP BY o.shipping_city
                          ORDER BY SUM(od.order_profits) DESC
                          LIMIT 1
                         ) """
pd.read_sql(sa.text(query),connection)

   average_profits
0            27.67

#Query8: What is the distribution of customer types in the data?

In [ ]:
query = """ SELECT customer_segment,
                   COUNT(customer_id) number_of_customers
            FROM customers
            GROUP BY customer_segment
 """
pd.read_sql(sa.text(query),connection)

  customer_segment  number_of_customers
0         Consumer                  410
1        Corporate                  237
2      Home Office                  148

#Query 9: What’s the most profitable product category on average in Iowa across all years?

In [ ]:
query = """ SELECT p.product_category,
                   ROUND(AVG(od.order_profits)::NUMERIC,2) product_profit
		        FROM order_details od
		        JOIN product p
			           USING(product_id)
    		    JOIN orders o
    			       USING(order_id)
   		      WHERE LOWER(o.shipping_state) LIKE '%iowa%'
		        GROUP BY p.product_category
    		    ORDER BY product_profit DESC
            LIMIT 1; """
pd.read_sql(sa.text(query),connection)

  product_category  product_profit
0        Furniture          130.25

#Query10: What is the most popular product in that category across all states in 2016?

🎯--> Used Q9 query as subquery in this solution to dynamically get most profitable city in Iowa.

🎯--> Most Popular Product is picked in terms of product that has highest quantity sold and most of time ordered

In [ ]:
query = """ SELECT p.product_name, SUM(od.quantity) product_quantity,COUNT(od.product_id) product_count
		FROM order_details od
		JOIN product p
		USING(product_id)
    JOIN orders o
    USING(order_id)
    WHERE EXTRACT(YEAR FROM o.order_date) = 2016
    	AND product_category = (
       				 								SELECT p.product_category
															FROM order_details od
															JOIN product p
																USING(product_id)
    													JOIN orders o
    														USING(order_id)
    													WHERE LOWER(o.shipping_state) LIKE '%iowa%'
															GROUP BY p.product_category
    													ORDER BY ROUND(AVG(od.order_profits)::NUMERIC,2) DESC
                              LIMIT 1
        										 )
		GROUP BY p.product_name
    ORDER BY product_quantity DESC,product_count DESC
    LIMIT 1; """
pd.read_sql(sa.text(query),connection)

                                 product_name  product_quantity  product_count
0  Global Push Button Manager's Chair, Indigo              22.0              4

#Query 11: Which customer got the most discount in the data? (in total amount)

🎯  There is a separate JOIN for customer id is to join on the basis of PK .Because more than one customer id can have same name.Otherwise it could be done without WITH command as following:

SELECT c.customer_name,
       ROUND(SUM(od.order_discount)::NUMERIC,2) AS total_discount

FROM order_details od

JOIN orders o

  USING(order_id)

JOIN customers c

  USING(customer_id)

GROUP BY c.customer_name

ORDER BY total_discount DESC

LIMIT 1

In [ ]:
query = """ WITH discount_customer_id AS (
                                          SELECT o.customer_id, ROUND(SUM(od.order_discount)::NUMERIC,2) AS total_discount
                                          FROM order_details od
                                          JOIN orders o
                                                USING(order_id)
                                          GROUP BY o.customer_id
                                          ORDER BY total_discount DESC
                                          LIMIT 1
                                          )
SELECT c.customer_name, d.total_discount
FROM customers c
JOIN discount_customer_id d
     USING(customer_id)
 """
pd.read_sql(sa.text(query),connection)

      customer_name  total_discount
0  Zuschuss Carroll             7.9

#Query 12: How widely did monthly profits vary in 2018?

Simple monthly profits calculation query:

SELECT EXTRACT(MONTH FROM o.order_date) month_2018 ,
ROUND(SUM(od.order_profits)::NUMERIC,2) monthly_profit,

FROM order_details od

JOIN orders o
USING(order_id)

WHERE EXTRACT(YEAR FROM o.order_date) = 2018

GROUP BY month_2018

In [ ]:
query = """ WITH curr_prev_profit AS (
                                  SELECT EXTRACT(MONTH FROM o.order_date) month_2018 ,
                                ROUND(SUM(od.order_profits)::NUMERIC,2) monthly_profit,
                                LAG(ROUND(SUM(od.order_profits)::NUMERIC,2)) OVER(ORDER BY EXTRACT(MONTH FROM o.order_date)) previous_month_profit
                                FROM order_details od
                                JOIN orders o
                                USING(order_id)
                                WHERE EXTRACT(YEAR FROM o.order_date) = 2018
                                GROUP BY month_2018
                              )

SELECT month_2018,monthly_profit,
			previous_month_profit,
      COALESCE((monthly_profit - previous_month_profit),monthly_profit) AS monthly_profit_difference
FROM curr_prev_profit
 """
pd.read_sql(sa.text(query),connection)

,month_2018,monthly_profit,previous_month_profit,monthly_profit_difference
0,1.0,7137.0,NaN,7137.0
1,2.0,1612.0,7137.0,-5525.0
2,3.0,14758.0,1612.0,13146.0
3,4.0,934.0,14758.0,-13824.0
4,5.0,6342.0,934.0,5408.0
5,6.0,8226.0,6342.0,1884.0
6,7.0,6951.0,8226.0,-1275.0
7,8.0,9034.0,6951.0,2083.0
8,9.0,10987.0,9034.0,1953.0
9,10.0,9272.0,10987.0,-1715.0
10,11.0,9217.0,9272.0,-55.0
11,12.0,8473.0,9217.0,-744.0

#Query 13: Which was the biggest order regarding sales in 2015?

In [ ]:
query = """ SELECT od.order_id,
            ROUND(SUM(od.order_sales)::NUMERIC,2) AS sales
FROM order_details od
JOIN orders
    USING(order_id)
WHERE EXTRACT(YEAR from orders.order_date) = 2015
GROUP BY od.order_id
ORDER BY sales DESC
LIMIT 1
"""
pd.read_sql(sa.text(query),connection)

         order_id    sales
0  CA-2015-145317  23660.0

#Query 14: What was the rank of each city in the East region in 2015 in quantity?

In [ ]:
query = """ WITH city_quantity AS(
                                  SELECT o.shipping_city, SUM(od.quantity) AS total_quantity
                                  FROM order_details od
                                  JOIN orders o
                                  USING(order_id)
                                  WHERE o.shipping_region = 'East'
                                  AND EXTRACT(YEAR from o.order_date) = 2015
                                  GROUP BY o.shipping_city
                                  ORDER BY total_quantity DESC
                                )
SELECT shipping_city,
       total_quantity,
DENSE_RANK() OVER(ORDER BY total_quantity DESC) AS order_ranking
FROM city_quantity

ORDER BY total_quantity DESC
 """
pd.read_sql(sa.text(query),connection)

    shipping_city  total_quantity  order_ranking
0   New York City          1708.0              1
1    Philadelphia           403.0              2
2        Columbus           167.0              3
3          Newark            64.0              4
4       Fairfield            53.0              5
5      Long Beach            44.0              6
6        Lakewood            38.0              7
7       Lancaster            36.0              8
8        Lawrence            31.0              9
9           Dover            30.0             10
10     Hackensack            28.0             11
11         Bangor            24.0             12
12          Utica            24.0             12
13         Lowell            23.0             13
14        Yonkers            22.0             14
15     Wilmington            21.0             15
16        Clinton            20.0             16
17      Baltimore            20.0             16
18       Cranston            20.0             16
19        Everett            19.0             17
20     Providence            19.0             17
21        Buffalo            19.0             17
22         Medina            16.0             18
23        Meriden            15.0             19
24        Beverly            15.0             19
25   New Rochelle            14.0             20
26        Bristol            14.0             20
27      Hempstead            12.0             21
28      Cleveland            12.0             21
29      Rochester            12.0             21
30         Toledo            12.0             21
31      Watertown            12.0             21
32        Chester            11.0             22
33           Troy            11.0             22
34       Franklin            11.0             22
35          Akron            10.0             23
36        Clifton             9.0             24
37      Jamestown             9.0             24
38        Concord             9.0             24
39       Columbia             8.0             25
40         Lorain             8.0             25
41       Hamilton             8.0             25
42     Cincinnati             8.0             25
43          Mason             7.0             26
44   Mount Vernon             7.0             26
45         Linden             7.0             26
46        Reading             6.0             27
47         Revere             6.0             27
48           Kent             5.0             28
49      Oceanside             5.0             28
50    Springfield             5.0             28
51         Orange             4.0             29
52          Parma             4.0             29
53  Niagara Falls             3.0             30
54     Plainfield             3.0             30
55         Marion             3.0             30
56  Bowling Green             2.0             31
57       Freeport             2.0             31
58     Middletown             2.0             31
59     Woonsocket             2.0             31

#Query 15: Display customer names for customers who are in the segment 'Consumer' or 'Corporate' How many customers are there in total?

🎯  Another straight forward solution with two separate queries is following:

first part query

SELECT customer_segment,
            customer_name
FROM customers

WHERE customer_segment IN ('Consumer','Corporate')

ORDER BY customer_segment

second part query

SELECT 'Total Customer', COUNT(*)
FROM customers

🎯 Implemented with the help of one CTE and UNION to combine result of two parts of question.

In [ ]:
query = """ WITH total AS (
                           SELECT COALESCE(customer_segment,'Total Consumer & Corporate Customers') customer_segment,
                           COUNT(customer_id) AS num_customer
                          FROM customers
                          WHERE customer_segment IN ('Consumer','Corporate')
                          GROUP BY ROLLUP(customer_segment)
                          ORDER BY num_customer
                        )


(SELECT customer_segment,customer_name
FROM customers
WHERE customer_segment IN ('Consumer','Corporate')
)
UNION ALL
(SELECT customer_segment,num_customer::TEXT
	FROM total
)
ORDER BY customer_segment ASC,customer_name DESC
 """
pd.read_sql(sa.text(query),connection)

                         customer_segment       customer_name
0                                Consumer  Zuschuss Donatelli
1                                Consumer    Zuschuss Carroll
2                                Consumer        Zack Gibbens
3                                Consumer        Xylona Preis
4                                Consumer       William Brown
..                                    ...                 ...
645                             Corporate           Adam Hart
646                             Corporate      Aaron Smayling
647                             Corporate       Aaron Hawkins
648                             Corporate                 237
649  Total Consumer & Corporate Customers                 647

[650 rows x 2 columns]

#Query 16: Calculate the difference between the largest and smallest order quantities for product id '100.'

In [ ]:
query = """
WITH order_quantity_100 AS (
                        SELECT order_id , SUM(quantity) total_order_quantity
                        FROM order_details
                        WHERE product_id = 100
                        GROUP BY order_id
                      )

SELECT MAX(total_order_quantity) - MIN(total_order_quantity) AS quantity_difference
FROM order_quantity_100

 """
pd.read_sql(sa.text(query),connection)

   quantity_difference
0                  4.0

#Query 17: Calculate the percent of products that are within the category ‘Furniture.’

Used CTE and Subquery in Select

In [ ]:
query = """
With selected_products AS(
                          SELECT (
                                  SELECT COUNT(*)
                                  FROM product
                                  WHERE product_category = 'Furniture'
                                  GROUP BY product_category
                                  ) AS num_furniture,
			                count(*) AS total_products
                      FROM product
                      )

SELECT ROUND((num_furniture*100.0)/ total_products ::NUMERIC,2) AS percent_of_furniture
FROM selected_products
 """
pd.read_sql(sa.text(query),connection)

   percent_of_furniture
0                 20.54

#Qery 18: Display the number of product manufacturers with more than 1 product in the product table.

In [ ]:
query = """
WITH product_count AS (
                      SELECT COUNT(product_id) product_count
                      FROM product
                      GROUP BY product_manufacturer
                      HAVING COUNT(product_id )> 1
                      ORDER BY product_count DESC
                    )
SELECT COUNT(*) manufacturer_count
FROM product_count

 """
pd.read_sql(sa.text(query),connection)

   manufacturer_count
0                 169

#Qery 19: Show the product_subcategory and the total number of products in the subcategory.Show the order from most to least products and then by product_subcategory name ascending.

In [ ]:
query = """
SELECT product_subcategory,
       COUNT(product_id) AS total_products
FROM product
GROUP BY product_subcategory
ORDER BY total_products DESC,product_subcategory ASC
 """
pd.read_sql(sa.text(query),connection)

   product_subcategory  total_products
0                Paper             277
1              Binders             211
2               Phones             189
3          Furnishings             186
4                  Art             157
5          Accessories             147
6              Storage             132
7           Appliances              97
8               Chairs              88
9               Labels              70
10            Machines              63
11              Tables              56
12           Bookcases              50
13           Envelopes              44
14            Supplies              36
15           Fasteners              34
16             Copiers              13

#Query 20: Show the product_id(s), the sum of quantities, where the total sum of its product quantities is greater than or equal to 100.

In [ ]:
query = """
SELECT product_id ,
       SUM(quantity) total_quantity
FROM order_details
GROUP BY product_id
HAVING  SUM(quantity)>= 100
 """
pd.read_sql(sa.text(query),connection)

   product_id  total_quantity
0         538           150.0
1         812           109.0
2        1216           132.0
3        1507           539.0
4        1501           170.0
5         920           155.0
6        1600           221.0
7         122           295.0

# **⭐** **Bonus Question** Join all database tables into one dataset that includes all unique columns and download it as a .csv file.

In [ ]:
query = """
SELECT * FROM order_details
LEFT JOIN orders
  USING(order_id)
LEFT JOIN product
  USING(product_id)
LEFT JOIN customers
  USING(customer_id)
 """
pd.read_sql(sa.text(query),connection)

,customer_id,product_id,order_id,order_details_id,quantity,order_discount,order_profits,order_profit_ratio,order_sales,order_date,...,shipping_country,shipping_postal_code,shipping_date,shipping_mode,product_name,product_category,product_subcategory,product_manufacturer,customer_name,customer_segment
0,91,122,CA-2015-100004,1,62,0.1,327.0,0.39,837,2015-09-06,...,United States,10011.0,2015-09-06,Same Day,Alphabetical Labels for Top Tab Filing,Office Supplies,Labels,Other,Bill Shonely,Corporate
1,91,764,CA-2015-100004,2,18,0.2,565.0,0.26,2174,2015-09-06,...,United States,10011.0,2015-09-06,Same Day,"Global Manager's Adjustable Task Chair, Storm",Furniture,Chairs,Global,Bill Shonely,Corporate
2,224,161,CA-2015-100006,3,3,0.0,110.0,0.29,378,2015-09-07,...,United States,10024.0,2015-09-13,Standard Class,AT&T EL51110 DECT,Technology,Phones,AT&T,Dennis Kane,Consumer
3,62,122,CA-2015-100032,4,53,0.1,272.0,0.38,715,2015-09-07,...,United States,10025.0,2015-09-13,Standard Class,Alphabetical Labels for Top Tab Filing,Office Supplies,Labels,Other,Arthur Wiediger,Home Office
4,62,1342,CA-2015-100032,5,23,0.1,96.0,0.31,311,2015-09-07,...,United States,10025.0,2015-09-13,Standard Class,Recycled Premium Regency Composition Covers,Office Supplies,Binders,Other,Arthur Wiediger,Home Office
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,640,1820,US-2018-169551,10001,3,0.2,5.0,0.35,16,2018-07-07,...,United States,19120.0,2018-07-09,First Class,Xerox 216,Office Supplies,Paper,Xerox,Rob Lucas,Consumer
9993,640,125,US-2018-169551,10002,3,0.2,5.0,0.29,17,2018-07-07,...,United States,19120.0,2018-07-09,First Class,AmazonBasics 3-Button USB Wired Mouse,Technology,Accessories,Other,Rob Lucas,Consumer
9994,640,1190,US-2018-169551,10003,3,0.5,-45.0,-0.52,87,2018-07-07,...,United States,19120.0,2018-07-09,First Class,O'Sullivan 3-Shelf Heavy-Duty Bookcases,Furniture,Bookcases,O'Sullivan,Rob Lucas,Consumer
9995,640,1278,US-2018-169551,10004,2,0.2,86.0,0.16,528,2018-07-07,...,United States,19120.0,2018-07-09,First Class,Plantronics CS510 - Over-the-Head monaural Wir...,Technology,Accessories,Plantronics,Rob Lucas,Consumer
9996,640,146,US-2018-169551,10005,2,0.4,-114.0,-0.17,684,2018-07-07,...,United States,19120.0,2018-07-09,First Class,Apple iPhone 5S,Technology,Phones,Apple,Rob Lucas,Consumer